.main {
    min-height: 100%;
    margin: 0;
}

header {
    border-bottom: 1px solid #272729;
    box-shadow: rgb(39, 39, 41) 0 0 0;
}

.background {
    background: repeating-linear-gradient(
            60deg,
            transparent,
            transparent 2px,
            rgb(14, 14, 14) 2px,
            rgb(14, 14, 14) 10px
    ),
    linear-gradient(
            120deg,
            rgb(14, 14, 14) 20%,
            rgb(0, 0, 0),
            rgb(14, 14, 14) 100%
    );
}

.navbar {
    height: 64px;
}

.navbar-dark {
    background-color: rgb(164, 80, 139);
    background-image: linear-gradient(326deg, rgb(164, 80, 139) 0%, rgb(95, 10, 135) 74%);
}

.container {
    width: 100%;
    max-width: 100%;
}

.flex-wrap {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-square-md {
    width: 100px;
    height: 100px;
    max-width: 100% !important;
    max-height: 100% !important;
    text-align: center;
    margin: 5px;
    border-radius: 20px 5px 20px 5px;
    user-select: none;
}

.btn-primary2 {
    font-weight: bold;
    font-size: medium;
    color: rgb(255, 255, 255);
    background-color: rgb(199, 0, 255);
    border: none;
}

.btn {
    transition-duration: 0.25s;
    transition-property: background-color, color;
}

.btn:active {
    background-color: rgb(40, 0, 50);
    color: rgb(51, 51, 51);
}

.btn:hover:not(:active) {
    color: rgb(255, 255, 255);
}

.btn:focus {
    box-shadow: none;
}

.btn:focus:not(:focus-visible) {
    outline: none !important;
}

.btn:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}